.outer-box {
    overflow-x: hidden;
    white-space: nowrap;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 40px auto;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: ;
}

.card-left, .card-right {
    width: calc(50% - 10px);
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    position: relative;
}

.college-photo {
    position: relative;
}

.college-photo img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.college-photo img:last-child {
    display: none;
}

.card-body {
    padding: 20px;
}

.card-body h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body p {
    margin-bottom: 20px;
}

.card-body button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-body button:hover {
    background-color: #444;
}