:root {
    --color-dark-teal: #011638;
    --color-orange: #f58220;
    --color-light-teal: #56b3a0;
    --color-dark-orange: #5386E4;
    --color-light-gray: #f0f0f0;
    --color-black: #000000;
    --sandy-brown: #FFAA5A;
    --panye-gray: #090302;
}

/* @import url("https://fonts.googleapis.com/css2?family=bebas+Neues&display=swap");*/

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--color-light-gray);
    color: var(--color-black);
}

.rrow.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: var(--color-dark-orange);
    color: var(--color-light-gray);
    padding: 10px;
}

.contact_info,
.social_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social_icons a {
    margin-left: 10px;
    color: var(--color-light-gray);
    text-decoration: none;
}

.text_right {
    justify-content: flex-end;
}

p.on_responsive-invisible {
    margin: 0;
}

/* Header-Section */

.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-dark-teal);
    color: var(--color-light-gray);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.logo_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo_container img {
    max-width: 100%;
    height: auto;
}

.img-gap {
    padding: 10px 0px;
}

.text_content {
    margin-top: 10px;
}

.Banners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Banners img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.center-banners img {
    margin-bottom: 0;
}

.last-banner img {
    margin-bottom: 0;
}

/* Nav-bar styling */

.navbar {
    background-color: var(--sandy-brown);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    color: var(--panye-gray);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--panye-gray);
    transition: color 0.3s;
}

nav a:hover {
    color: var(--color-light-gray);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--color-light-teal);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@supports (backdrop-filter: blur(10px)) {
    .sidebar {
        background-color: rgba(86, 179, 160, 0.4);
        backdrop-filter: blur(10px);
    }
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}



/* Responsive Styles */

@media (max-width: 768px) {
    .header_logo {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo_container,
    .banners {
        width: 100%;
        margin-bottom: 20px;
    }

    .rrow.top_bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact_info {
        margin-bottom: 10px;
    }



    .text_right {
        justify-content: flex-start;
    }

    .img_responsive {
        width: 60px;
    }

    .hideOnMobile {
        display: none;
    }

    .rrow.top_bar {
        display: none;
    }

    .rep-navbar {
        background-color: #005f5680;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .banner-container {
        padding-bottom: 75%;
        /* Adjust aspect ratio for mobile */
    }
}

@media (max-width: 480px) {
    .contact_info {
        font-size: 14px;
        justify-content: space-around;
    }

    .social_icons a {
        font-size: 14px;
        margin-left: 5px;
        display: none;
    }

    .fa-map-marker {
        display: none;
    }

    .on_responsive-invisible {
        display: none;
    }

    .header_logo {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo_container,
    .Banners {
        width: 100%;
        margin-bottom: 20px;
    }

    .Banners img {
        margin-bottom: 10px;
    }

    .center_banners img {
        margin-bottom: 10px;
    }

    .last_banner img {
        margin-bottom: 10px;
    }

    .hideOnMobile {
        display: none;
    }

    .rrow.top_bar {
        display: none;
    }

    .rep-navbar {
        position: fixed;
        background-color: #005f5680;
        top: 0;
        left: 0;
        width: 100%;
    }

    .banner-container {
        padding-bottom: 100%;
        /* Square aspect ratio for very small screens */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .rrow.top_bar {
        padding: 15px;
    }

    .contact_info,
    .social_icons a {
        font-size: 16px;
    }

    .header_logo {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo_container {
        width: 30%;
    }

    .center_banners {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }

    .center_banners img {
        width: 45%;
        margin-bottom: 0;
    }

    .last_banner {
        width: 30%;
    }

    .img_responsive {
        width: 60px;
    }

    .hideOnMobile {
        display: none;
    }

    .rrow.top_bar {
        display: none;
    }

    .rep-navbar {
        position: fixed;
        background-color: #005f5680;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 1025px) {
    .rrow.top_bar {
        padding: 20px;
    }

    .contact_info,
    .social_icons a {
        font-size: 18px;
    }

    .header_logo {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo_container {
        width: 25%;
    }

    .center_banners {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    .center_banners img {
        width: 50%;
        margin-bottom: 0;
    }

    .last_banner {
        width: 30%;
    }

    .img_responsive {
        width: 100px;
    }

    .fullsize {
        display: none;
    }
}







.heading-banner {
    width: 100%;
    max-height: 300px; /* Adjust this value as needed */
    overflow: hidden;
    position: relative;
}

.heading-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.caption-banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 125, 190, 0.8); /* Slight transparency */
    color: #fff;
    text-align: center;
    height: 3.125rem; /* Initial fixed height in rem */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease; /* Smooth transition */
}

.caption-banner p {
    font-size: 1.25rem;
    margin: 0;
}

@media (max-width: 768px) {
    .heading-banner {
        max-height: 200px; /* Adjust for smaller screens */
    }

    .caption-banner {
        height: 2.5rem; /* Adjust height for smaller screens */
    }

    .caption-banner p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .heading-banner {
        max-height: 150px; /* Adjust for even smaller screens */
    }

    .caption-banner {
        height: 2rem; /* Adjust height for smaller screens */
    }

    .caption-banner p {
        font-size: 0.875rem;
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.75rem, 1fr));
    grid-auto-flow: row;
    grid-gap: 30px;
    width: 100%;
}

.gallery img {
    width: 100%;
    height: 15.625rem;
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    border-bottom: 1px solid black;
}
.gallery a{
    border: 1px solid black;
    background-color: #e9e9e9;
    border-radius: 0.625rem;
    height: 18.75rem;
}
.gallery  h5{
    height: 2.1875rem;
}

a h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: smaller;
    text-decoration: none;
    padding-top: 15px;
    font-weight: bolder;
}

.gallery a {
    text-decoration: none;
}


/* Tamil nadu part */

.second-caption{
    position: relative;
    bottom: 0;
    margin-left: 150px;
    margin-right: 150px;
    background: #007dbe;
    color: #fff;
    text-align: center;
    height: 3.125rem; /* Initial fixed height in rem */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease; /* Smooth transition */
}

.second-caption p {
    font-size: 1.25rem;
    margin: 0;
}