* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rich-black: #0F1A20;
    --color-mindaro: #EBF38B;
    --color-white: #ffffff;
    --uranian-blue: #B5E2FA;
    --pumpkin-color: #FF6700;
    --chartreous: #E0FF4F;
    --footer-text-color: #B5E2FA; /* Adjusted text color for footer */
    --footer-hover-color: #E0FF4F; /* Adjusted hover color for footer links */
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--color-light-gray);
    color: var(--color-black);
}

.custom-footer {
    background: var(--rich-black);
    color: var(--footer-text-color);
    padding: 60px 0;
    font-size: 16px;
    background-image: url(./blob-shape.svg);
    background-size: cover;
    background-position: center;
}

.custom-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.custom-footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.custom-footer-row-center {
    justify-content: center;
    text-align: center;
}

.custom-footer-col {
    flex: 1 1 30%;
    margin-bottom: 40px;
}

.custom-footer-heading {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-mindaro);
    padding-bottom: 10px;
}

.custom-list-unstyled {
    list-style: none;
    padding: 0;
}

.custom-list-unstyled li {
    margin-bottom: 10px;
}

.custom-footer-link {
    color: var(--footer-text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.custom-footer-link:hover {
    color: var(--footer-hover-color);
}

.custom-footer-contact ul {
    list-style: none;
    padding: 0;
}

.custom-footer-contact li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.custom-footer-contact .custom-icon {
    margin-right: 10px;
    font-size: 20px;
}

.custom-footer-social {
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 20px 0 0 0;
}

.custom-footer-social-item {
    margin-right: 15px;
}

.custom-footer-social a {
    color: var(--footer-text-color);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.custom-footer-social a:hover {
    color: var(--footer-hover-color);
}

.custom-text-center {
    text-align: center;
}

.custom-copyright {
    font-size: 14px;
    margin-top: 20px;
    color: var(--color-light-gray);
}

@media (max-width: 768px) {
    .custom-footer-row {
        flex-direction: column;
        align-items: center;
    }
    .custom-footer-col {
        flex: 1 1 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .custom-footer-social {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .custom-footer-col {
        padding: 0 20px;
    }
    .custom-footer-heading {
        font-size: 18px;
    }
    .custom-footer-link {
        font-size: 14px;
    }
}
