body{font-family: 'Nunito', sans-serif; font-size:15px; line-height:29px; color:#484848; text-align:justify; font-weight:400;/*background: url(images/background-pattern.jpg);*/}
h1,h2,h3,h4,h5{font-family: 'Nunito', sans-serif; font-weight:500;}
a, a:active, a:focus {outline: none;text-decoration:none !important}
ul{color:#000}
.banner-img{min-width:100%}
#hm{
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        #hm.sticky {
          position:fixed; top:0; z-index:999; width:100%; border-bottom:1px solid #c4c5c7
        }
		
		#hmlg img{
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

 #hmlg.stickylg{margin-top:5px;}
        #hmlg.stickylg img{
           width:50%; height:50%; margin-top:0px;
        }
		#hmdiv1{
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
		#hmdiv1.stickydiv1{
           display:none;
        }
		#hmmenu{
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
		
		#hmmenu.stickymenu{float:none;}
		
		#hmmenu.stickymenu li a{
          padding-top:5px; padding-bottom:5px; 
        }
		#hmright{
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
		#hmright.stickyright{
         padding-top:1px; padding-bottom:1px; font-size:13px;
        }



.container{max-width:1200px; width:100%}
.my_nav{position:relative; z-index:1;background-image: linear-gradient(to top,#007DBE,#007DBE);}
.my_nav .nav > li > a a:active {
color: #6faf2d;
    box-shadow: none;
    background: rebeccapurple;
    }

.navbar-collapse {padding-left: 0px; margin-left:0px; margin-right:0px;}
.my_nav .navbar-brand{padding:0; display:none}
.my_nav .navbar-default{border:none; box-shadow:none; background:none}
.my_nav .navbar{margin:0; min-height:inherit}

.my_nav .nav > li > a{padding: 10px 23px;font-family: 'Nunito', sans-serif;font-weight: 300;font-size: 15px; text-transform:uppercase;    line-height:31px; outline:none; color:#000000;background:url(./images/menu-sdhtrfg.jpg) no-repeat right;}
.my_nav .nav > li:last-child > a{background:none}

.my_nav .navbar-default .navbar-nav > .active > a,.my_nav .nav > li > a:hover, .last > .active > a,.last> a:hover{color:#ffffff;  box-shadow:none; background:#1287f3;}


.navbar-nav > li > .dropdown{box-shadow:none; color:#fff !important; background:#554e91; border:none; }
.navbar-nav >.dropdown a:hover,  .navbar-nav >.dropdown a:focus{color:#fff !important; background:#f9815f !important;}
.navbar-nav > li > .dropdown-menu{padding:0; background:#0f74ba !important; }
.navbar-nav > li > .dropdown-menu li a{padding:8px 10px; color:#fff !important; margin:0 auto;  font-size:13px; }
.navbar-nav > li > .dropdown-menu li:hover a{color:#fff; background:#f9815f !important; border:none !important}
.navbar-nav > li > .dropdown-menu li .active a{color:#fff; background:#f9815f !important; border:none !important}
.navbar-nav > li > .dropdown-menu .active a{color:#fff !important; background:#f9815f !important;}
.dropdown-toggle:active,
    .open .dropdown-toggle {
    outline: 0;
    background-color: #f9815f !important;
	color:#fff !important;
     }

.my_nav .nav > li > a:hover:before{content:url(images/menu-arrow-up.png);position: absolute;top: 60%;left: 40%;}

.my_nav  .nav .current-menu-item > a,.my_nav .nav .current-menu-ancestor > a,.my_nav .nav .current-menu-parent > a {
color: #fff;
box-shadow: none;
background: #800102 !important;
}

.my_nav .nav .current-menu-ancestor > a {
color: #fff;
box-shadow: none;
background: #800102;
}

.top-nav-menu .current-menu-item > a{
color: #fff;
box-shadow: none;
background: #007DBE;
}

.my_nav .nav  .level-0 .current-menu-item>a,.my_nav .nav .level-0 .current-menu-ancestor>a {
color:#fff;
background:#800102;
}

.my_nav li:hover .level-0 {
z-index:100;
opacity:1;
}

.my_nav .nav .level-0 {
width:250px;
position:absolute;
top:100%;left:0px;
z-index:999;
opacity:0;
transition:opacity linear 0.15s;
list-style-type:none;
padding-left:0px;
padding-right:0px;
-webkit-transition: max-height 1ms linear 1s;
-moz-transition: max-height 1ms linear 1s;
pointer-events: none;
}

.my_nav .nav  > li:hover .level-0, .my_nav .nav > li:focus .level-0{
pointer-events: auto;
z-index: 10;
max-height: 2000px;
-webkit-transition: none;
-moz-transition: none;
}

/*form*/
.intro-form input {display: block;
    width: 100%;
    height: 46px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-transform: capitalize;
}
.intro-form{padding-left: 10px;
    padding-right: 10px;}

.intro-form select{
    width: 100%;
    background-color: #ffffff;
    padding: 12px 14px;
    color: #555;
}
.wpcf7-textarea {
    height: 80px;width: 100%;
}

.submit{display: inline-flex;
	margin-top: 16px;}
.submit input{background: #007DBE;
    color: aliceblue;
    /* padding: 13px; */
    /* padding-left: 10px; */
    padding: 0px 30px;}
.intro-form p{font-weight:600;}




.level-0 li a {
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    display: block;
    line-height: 18px;
    border-bottom: 1px solid #800102;
    text-transform: uppercase;
    font-size: 13px;
}

.level-0 li a:hover{
color:#fff;
text-decoration:none;
}




.level-0 li {
background: #007DBE;
font-size:14px;
width: 100%;
}

.level-0 li:hover, .level-0 .active{background:#800102;}

.my_nav .nav > li:hover .level-0 li, .my_nav .nav > li:focus .level-0 li {
 opacity: 1;
-webkit-transform: none;
   -moz-transform: none;
    -ms-transform: none;
     -o-transform: none;
        transform: none;
}

.level-0 li:hover > .level-1 {
visibility: visible;
width: 230px;
}




.my_nav li:hover .level-1 {
z-index:100;
opacity:1;
}

#menu-item-311:hover .level-1{margin-top:70px;} 

.my_nav .nav .level-1 {
width:250px;
position:absolute;
top: 0;
left:100%;
z-index:999;
opacity:0;
transition:opacity linear 0.15s;
list-style-type:none;
padding-left:0px;
padding-right:0px;
-webkit-transition: max-height 1ms linear 1s;
   -moz-transition: max-height 1ms linear 1s;
pointer-events: none;
visibility: hidden;
}

.my_nav .nav  > li:hover .level-1, .my_nav .nav > li:focus .level-1{
pointer-events: auto;
z-index: 10;
max-height: 2000px;
-webkit-transition: none;
   -moz-transition: none;
}



.level-1 li a {
text-decoration: none;
font-size: 14px;
color: #fff;
display: block;
line-height: 14px;
}

.level-1 li a:hover{
color:#fff;
text-decoration:none;
}



.level-1 li {
padding: 10px;
background: #f6891f;
border-bottom:1px solid #fff;
font-size:14px;
width: 100%;
-webkit-transform-origin: 50% 0;
   -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
     -o-transform-origin: 50% 0;
        transform-origin: 50% 0;

-webkit-transform: scale(1,0);
   -moz-transform: scale(1,0);
    -ms-transform: scale(1,0);
     -o-transform: scale(1,0);
        transform: scale(1,0);
 
-webkit-transition: opacity .4s, -webkit-transform .6s, max-height .6s;
   -moz-transition: opacity .4s,    -moz-transform .6s, max-height .6s;
    -ms-transition: opacity .4s,     -ms-transform .6s, max-height .6s;
     -o-transition: opacity .4s,      -o-transform .6s, max-height .6s;
        transition: opacity .4s,         transform .6s, max-height .6s;  

}

.level-1 li:hover, .level-1 .active{background:#007dbe;}

.my_nav .nav > li:hover .level-1 li, .my_nav .nav > li:focus .level-1 li {
opacity: 1;
-webkit-transform: none;
   -moz-transform: none;
    -ms-transform: none;
     -o-transform: none;
        transform: none;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center; 
}

.nbs-flexisel-inner {
	overflow:hidden;
	float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px auto;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
	margin-bottom: 20px;
    margin-top: 20px;
}
.nbs-flexisel-item img {
	height:auto;
	cursor: pointer;
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 94%;
	margin-left:auto; margin-right:auto;
	border: 0px solid #cac7c0;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 23px;
	height: 65px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 1;
	margin-top:0px;
}

.nbs-flexisel-nav-left {
    left: -15px;
    background: url(images/brand-arrow.png) no-repeat center;
    top: 40px !important;
    transform: rotate(180deg);
}

.nbs-flexisel-nav-right {
    right: 16px;
    background: url(images/brand-arrow.png) no-repeat center;
    top: 40px !important;
    right: -15px;
}


/* 5 Columns */

.col-sm-15 {position: relative;min-height: 1px;padding-right: 0px;padding-left: 0px;}



/* HRSH */

.start-info p{text-align: left;text-align: left;position: relative;top: 20px;left: 46px;font-size: 15px;background: url(images/dfxvgdfbhndhs.jpg) no-repeat right;}
#start-info-f p:last-child {background: none;}
.start-info span{position: relative;left: 24px;top: -7px;}
.start-info spans{position: relative;left: 44px;top: -7px;}
.start-info spans a{color:#800102}
.start-info spans a:hover{color:#0063BC}

.red-background{background:#800102}
.top-nav-menu .menu-top-menu-container{float:right}
.top-nav-menu .navbar-nav>li>a{padding:7px 10px;color: white;text-transform: uppercase;font-size: 11px;}
.top-nav-menu .nav>li>a:hover, .nav>li>a:focus{text-decoration: none;background-color: #007DBE;}

.white-background{background:white}

.top-nav-main-menu .navbar-nav>li>a{color: white;text-transform: uppercase;font-size: 13px;padding: 14px 19px;}
.top-nav-main-menu .nav>li>a:hover, .nav>li>a:focus {text-decoration: none;background-color: #800102;color:#fff;}

.footer-backgrond{background:url('images/footer-background.jpg');border-bottom: 8px solid #0175b1;}
.footer-backgrond a{text-decoration:none}
.footer-backgrond p{line-height: 1;text-align: center;color: #4D4D4D;font-weight: 600;}
.footer-backgrond .col-sm-12{padding: 18px 0px;padding-bottom: 10px;}

.footer-backgrond-one{background:#0175b1;}

.f-link-main h3,.f-link-main-p h3{text-transform: uppercase;color: white;font-size: 18px;background: url(images/redline.jpg) no-repeat top 35px left;padding-bottom: 24px;}
.f-link-main-two h3{padding-bottom: 23px;}
.f-link a{color: aliceblue;text-transform: capitalize;font-size: 13px;}

.f-link-main-p h3{text-transform: uppercase;color: white;font-size: 18px;}
.f-link-main-p p{color: white;text-align: left;}
.f-link-main-p i{position: relative;left: -23px;}

.f-link-main-two li,.f-link li{list-style: none;background: url(images/footer-menu-button.png) no-repeat center;background-position: 3px 10px;margin-left: 0;position: relative;right: 42px;padding-left: 26px;transition:All .5s ease;-webkit-transition:All .5s ease; -moz-transition:All .5s ease; -o-transition:All .5s ease;}
.f-link-main-two li:hover, .f-link li:hover{background-position:5px 10px}

.testimonial_colowmn{background: url('images/study-abroad-backgroung.jpg') no-repeat center;padding-bottom: 0px;background-size: 100% 100%;}
.testimonial_colowmn .asfddbhu{background:#800102;color: white;border-radius: 0 0 28px 28px;}
.testimonial_colowmn h3{text-transform: uppercase;font-size: 16px;text-align: center;    background: url(images/dfkjlo;o.jpg) no-repeat center 25px;padding-bottom: 10px;}
.testimonial_colowmn p{text-align: center;padding: 0 128px;padding-bottom: 23px;}

.img-hash-background{background: url(images/coll-background.jpg) no-repeat center;background-size: 100% auto;    padding-top: 50px;}
.single-color-test{background:rgba(255, 255, 255, 0.68);border-radius: 40px 40px 0 0;}

#single-about{color: #800102;font-size: 20px;margin: 0;}
#single-josco{color: #0062be;font-size: 21px;}
#single-josco{    color: #083d77;
    font-weight: 600;
    background: url(images/sldfhkkfbj.jpg) no-repeat top 40px left;
    padding-bottom: 15px;}
#single-three{color: #083d77;}
#single_button{float: right;padding: 5px 23px;background: #007dbe;color: white;text-transform: capitalize;border-radius: 35px;}
#single_button:hover{background:#800102}
.img-hash-background .col-sm-6{padding-left: 52px;padding-top: 20px;padding-bottom: 18px;}
#view-college{transform: rotate(270deg);border: 3px solid #083d77;color: #083d77;font-size: 17px;padding: 10px;text-transform: uppercase;width: 43%;position: relative;top: 89px;right: 70px;text-align:center}
#view-college:hover{border: 3px solid #800102;color: #800102;}

.coll-manage{margin-left: 80px;margin-top: -69px;margin-right: -46px;}
.coll-manage .col-sm-3{padding: 5px;}
.coll-manage-two{margin-left: 80px;margin-right: -46px;}
.coll-manage-two .col-sm-3{padding: 5px;}
.coll-manage-two p,.coll-manage p{background: #800102;color: white;margin: 0;font-size: 12px;text-align: center;}

.img-coll-one{float:left}
.carousel-indicators {bottom: -12px;}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control.left{background: url(images/arrow.png) no-repeat center;transform: rotate(180deg);}
.carousel-control.right{background: url(images/arrow.png) no-repeat center;}

.redish-background{background: url(images/small-png-background.png);}
.course-offered{background: url(images/small-png-background-course.png);}
.course-offered ul{list-style:none;padding: 0 15px;border-bottom: 1px dashed #af3233;padding-bottom: 0px;height: 85px;}
.course-offered li{display:inline-block;padding: 0px 6px;color: #fff;}
.t11{color: #0062be;text-transform: uppercase;font-weight: 600;text-align: center;font-size: 23px;padding-top: 14px;}

.ind-course-table-one{background:#800102;color: white;border-radius: 50px 0 0 0;}
#course-table-1{background: #ffffff;color: #0062be;font-weight: 600;text-align: center;padding: 10px;margin-top: 15px;border-radius: 40px;}
#course-table-2{background: #0062be;color: #fff;font-weight: 600;text-align: center;padding: 10px;margin-top: 15px;border-radius: 40px;}
.ind-course-table-two{background:#8b1718;color: white;}
.ind-course-table-three{background:#800102;color: white;}
.ind-course-table-four{background:#8b1718;color: white;border-radius: 0 50px 0 0;}


.redish-background .row{background: white;width: 70%;margin: 30px 0px;border-radius: 38px;}
.redish-background .tre{width: 26%;background: #d7d7d7;border-radius: 26px;}
.redish-background .tre2{width: 74%;}
.redish-background .tre2 p{position: relative;top: 13px;left: -15px;}
#indivitual-p-id{    margin: 0;
    text-align: left;
    padding: 14px 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #800102;
    font-size: 14px;}

.fm{background: #007dbe;border-top: 10px solid #800102;}
.fm h5{font-size: 20px;text-transform: uppercase;color: white;position: relative;margin-left: 23%;top: -5px;}
.form-group-main{padding: 5px;padding: 0;padding-bottom: 0;padding-left: 23px;padding-right: 23px;}
.indit{padding-top: 20px;border-radius: 100px 100px 0 0;background: #800102;}
.indit input{width: 34%;background: #0062be;border: none;color: white;border-radius: 0;margin-left:auto;margin-right:auto;}
.gaint{border-top: 2px solid #80bedf;padding-top: 30px;}
input[type="email"]{text-transform: inherit;}
.form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	text-transform: capitalize;
}



.groupleft #id-groupleft-one{color: #800102;font-size: 22px;margin-bottom: 1px;}
.groupleft #id-groupleft-two{color: #000000;font-size: 22px;}
.groupleft #id-groupleft-three{color: #000000;font-size: 15px;}

#f-link-phone{position: relative;right: 2px;}
#f-link-phone a{color:#fff}
#f-link-phone a:hover{color:#E7E7E7}

.colfirst p{color: #0062be;font-size: 21px;text-transform: uppercase;}
.colsecond p{color: #800102;border: 2px solid #A37878;text-align: center;text-transform: uppercase;}
.colsecond a{text-decoration: none;}

.about-us-first #first-about{color: #800102;text-transform: capitalize;font-size: 23px;background:url(images/small-about-us-line.jpg) no-repeat top 40px left;padding-bottom: 15px;}
.about-us-first p{color: #000;}
#about-us-row-1{padding-top: 50px;padding-bottom: 50px;}
.we-value{background: url(images/small-png-background-course.png);padding-top: 15px;}
.we-value .row{background: #E0E0E0;border-radius: 50px;padding: 15px 30px;margin-bottom: 50px;}
.we-value img{position: relative;top: 26px;left: 17%;}
.we-value ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
  list-style-type: square;
}
.about-us-first-single-ii p{text-align: center;color: #000;font-size: 16px;padding: 10px;}
.dhfg{color: #800102;font-size: 20px;text-transform: capitalize;padding-top: 0px;}

.white_back_ground{padding: 55px 0px;padding-bottom: 40px;}

.fhdtgjfgds ul{padding-top: 15px;
padding-bottom: 15px;}


.dfgrkjg{font-size: 15px;
    border: 1px solid red;
    border-radius: 55px;
    padding: 4px 10px;
    position: relative;
    left: 32%;
    bottom: 3px;text-decoration:none !important}


.intro-work {
    max-width: 100%;
    overflow: hidden;
    position: relative;
   border-radius:0%;
   text-align:center;
   margin-left:auto; margin-right:auto;
   
}
.intro-work img {
    position: relative;
    max-width: 100%;
    margin-left:auto; margin-right:auto
}
.intro-work .ovrly {
    background: rgba(112, 19, 30, 0.43);
    height: 100%;
    left: 11px;
    top: -100%;
    width: 91%;
    position: absolute;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
	color:#fff
}

.intro-work .links {
    position: absolute;
    top: -100%;
    left: 50%;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	width: 92%;
}
.intro-work .links a {
    margin: 0 1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 0%;
    color: #fff;
    display: inline-block;
    line-height: 16px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 600;
}

.intro-work .links .fa:hover{color:#012a3f}

.intro-work:hover .links {
    top: 50%;
}
.intro-work:hover .ovrly {
    top: 0;
}

#view-more-test{position: relative;top: 81px;background: #0062be;padding: 31px;}
#unisey{text-transform: capitalize;color: #083d77;}
#unifytech{text-transform: lowercase;font-weight: 600;position: relative;top: 54px;}

.color-tool-one{background: #E0E0E0;width: 46%;margin-left: 25px;padding: 0;}
.color-tool-two{background: #E0E0E0;width: 46%;margin-left: 40px;padding: 0;}

.background-unify{background: url(images/top-line-sync.jpg) no-repeat;background-size: 100% 100%;padding: 7px;    color: white;text-transform: capitalize;font-weight: 600;font-size: 17px;padding-left: 17px;margin-bottom: 30px;}

.main-pad-bottom{padding-bottom: 40px;}

.courses-title{color:#fff;font-weight:600;font-size: 17px;background: #0899E5;text-align: center;}

.page-title-style{font-size: 23px;text-transform: uppercase;color: #800102;}
.college-group-one{padding: 23px 0;}
.college-group-one p{margin: 0;background: #E9E9E9;color: #800102;text-transform: capitalize;text-align: center;padding: 10px 0;font-weight: 600;margin-bottom: 20px;}

.college-group-two{padding: 23px 0;}
.college-group-two p{margin: 0;background: #E9E9E9;color: #800102;text-transform: capitalize;text-align: center;padding: 10px 0;font-weight: 600;margin-bottom: 20px;}
#table td,#table-fee td,#table th,#table-fee th {
  border: 1px solid rgba(0, 18, 27, 0.08);    color: black;
}
#table-fee td,#table-fee th {padding-left: 23px;}
.courses-name{color:red;padding-left: 23px;}
.courses-explain{color:black;}

.sdfdhg p{line-height: 1.4;font-size: 16px;padding-bottom: 12px;text-align: left;}
.sdfdhg strong{text-transform: uppercase;}
.sdfdhg #dfgdfgdg{text-transform: capitalize;}
.c1 {
    font-size: 25px;
    color: #007DBE;
    font-weight: 600;
    text-transform: uppercase;
}

#dshjfbd{    background: #FFFFFF;
    color: black;
    font-weight: 500;
    padding: 3px 10px;}
.fhdtgjfgds p{background: #007DBE;
    color: white;
    font-weight: 600;
    padding: 3px 10px;}
	
.mobile-version{display:none}
.desktop-version{display:block}	
	
.mobile-version #view-college {
	transform: rotate(0deg);
    border: 3px solid #083d77;
    color: #083d77;
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
}
.mobile-version .coll-manage {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}
#qaxxdedf{margin: 0;color: white;font-size: 14px;}
.azdsyh{float: left;position: relative;top: 7px;padding-right: 6px;}
.edhjkgh{padding: 20px 0;}


.pc-only{display:block;}
.mobile-only{display:none;}
.aawfthjrj img{padding-right: 23px;padding-top: 16px;}
.wasfgtj p{text-align: left;padding: 0;padding-bottom: 0;text-transform: uppercase;font-size: 30px;padding-top: 50px;margin-left: -20px;}
.wasfgtj span{color: #007dbf;font-weight: bolder;}
.wasfgtj a {background: #007DBF;color: white;padding: 10px 23px;border-radius: 40px;text-transform: capitalize;position: relative;bottom: 20px;left: 50px;left: 22.5px;}
.wasfgtj a:hover {background: #800102;}
.wxqwewvbty{margin: 10px;background: #fff;text-align: center;padding: 20px;border-radius: 20px;text-transform: capitalize;color: black;}
.wxqwewvbty:hover{background: #800102;color:#fff}

.wxdtfcyvgbhuijm{background:url('images/course-sdfvygbhjk.jpg') no-repeat;background-size:cover;padding: 23px;}
.course-fgbh-30 .wxqwewvbty{padding: 20px 13px;}
.ftjfbjftg{background:url('images/wxtyvyhjhjhb.jpg');}
.ftjfbjftg p{background: #007dbe;width: 32%;margin: 23px 0;margin-bottom: 0;border-radius: 16px 16px 0 0;padding: 12px 10px;padding-bottom: 7px;color: white;font-size: 30px;text-transform: uppercase;}
.ftjfbjftg img{display:inline-block;position: relative;bottom: 3px;left: 12px;}

#post-126 h1{margin:40px 0 20px !important;}
.entry-content ul {padding:0}
.entry-content ul li{list-style: none;
    background: url('images/icon.png') no-repeat left 3px top 4px;
    padding-left: 30px;}

	
.carousel-content {position: absolute;bottom: 9.5%;left: 49%;z-index: 0;color: white;text-shadow: 0 1px 2px rgba(0,0,0,.6);}
	
.breadcrumb {
    padding: 0 !important;
    margin-bottom: 20px;
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding-top: 14px !important;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #007DBE;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


.mobilemenu{display:none}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 101;
}	


.hamburger {
  background: #B3090A !important;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 0px;
  width: 52px;
  z-index: 999;
  padding:5px;
}

.hamburger:hover { outline: none; }

.hamburger:focus { outline: none; }

.hamburger:active { outline: none; }

.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
  
}

.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}

.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  top: 5px;
  
}

.hamburger.is-closed .hamb-middle {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 5px;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: #fff;
  width: 26px;
  margin-left:12px;
  
  
}

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ffffff;
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open .hamb-middle {
  background-color: #ffffff;
  display: none;
}

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ffffff;
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}

.dfhyrthbg{outline: 0;color: #fff !important;}

#wrapper {  -moz-transition: all 0.5s ease;  -o-transition: all 0.5s ease;  -webkit-transition: all 0.5s ease;  padding-left: 0;  -webkit-transition: all 0.5s ease;  transition: all 0.5s ease;}
#wrapper.toggled { padding-left: 220px; }
#wrapper.toggled #sidebar-wrapper { width: 210px; }
#wrapper.toggled #page-content-wrapper {  margin-right: -220px;  position: absolute;}
#sidebar-wrapper {  -moz-transition: all 0.5s ease;  -o-transition: all 0.5s ease;  -webkit-transition: all 0.5s ease;  background: #800004;  height: 100%;  left: 220px;  margin-left: -220px;  overflow-x: hidden;  overflow-y: auto;  -webkit-transition: all 0.5s ease;  transition: all 0.5s ease;  width: 0;  z-index: 1000;}#sidebar-wrapper::-webkit-scrollbar { display: none;}
#page-content-wrapper {  padding-top: 70px;  width: 100%;}
/*-------------------------------*//*     Sidebar nav styles        *//*-------------------------------*/
.sidebar-nav {  list-style: none;  margin: 0;  padding: 0;  position: absolute;  top: 0;  width: 220px;}
.sidebar-nav li {  display: inline-block;  line-height: 20px;  position: relative;  width: 100%;}
.sidebar-nav li:before {  -moz-transition: width 0.2s ease-in;  -ms-transition: width 0.2s ease-in;  -webkit-transition: width 0.2s ease-in;  background-color: #1c1c1c;  content: '';  height: 100%;  left: 0;  position: absolute;  top: 0;  -webkit-transition: width 0.2s ease-in;  transition: width 0.2s ease-in;  width: 3px;  z-index: -1;}

.sidebar-nav li:before { background-color: #FBFBFB; margin-left:-5px; margin-right:-10px; }

.sidebar-nav li:hover:before {  -webkit-transition: width 0.2s ease-in;  transition: width 0.2s ease-in;  width: 100%;}
.sidebar-nav li a {  color: #fff; text-transform:uppercase; font-size:15px;  display: block;  padding: 10px 15px 10px 30px;  text-decoration: none;}
.sidebar-nav li.open:hover before {  -webkit-transition: width 0.2s ease-in;  transition: width 0.2s ease-in;  width: 100%;}
.sidebar-nav .dropdown-menu {  background-color: rgba(128, 0, 4, 0.83); border-radius: 0;  border: none;  box-shadow: none;  margin: 0;  padding: 0;  position: relative;  width: 100%;}
.sidebar-nav li a:hover, .sidebar-nav li.active a, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {background-color: #FBFBFB;color: #800004;  text-decoration: none;}

.sidebar-nav .dropdown-menu li:hover a, .sidebar-nav .dropdown-menu li.active a{background:#dd8d03 !important;}
.sidebar-nav .dropdown-menu li:before{background:none}

article.category-news-and-events{}
p#fbcjsrekgcnkryh{padding-left: 26%;font-size: 17px;text-transform: uppercase;color: #007DBE;margin-top: -22px;}
.course-offered-two{background:url(images/course-offered-two-banner.jpg)}
.dbuhngdykurg{margin: 0;background: url(images/course-offere-two-icon.png) no-repeat left 26px top 9px;text-align: left;padding-left: 45px;border-radius: 20px;text-transform: uppercase;color: white;padding-bottom: 7px;font-size: 15px;}
.dbuhngdykurg:hover{background-position: 30px 9px;}
.jyblftkasgdye{padding: 45px 50px;background: rgba(128, 1, 2, 0.75);margin: 4% 0px;}
.hftbldfh p{background: #e1e1e1;width: 30%;margin-bottom: 0;padding: 14px;font-size: 30px;border-radius: 40px 40px 0 0;color: #0062be;}

input[type="file"] {display: block;background: white;padding: 5px 0;padding-left: 15px;border: 1px solid #CCCCCC;}
.col-sm-6.tre2 a{color: black;}

.search-form{position: relative;top: 12px;}
input.search-field{width: 300px;}
.search-form label>.screen-reader-text{display:none}
button.search-submit{background: none;border: none;padding: 0;}
button>.screen-reader-text{background: #800102;padding: 7px 10px;color: white;margin: 0;}

/* 5 Columns */

.col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}

.col-xs-15 {width: 20%;float: left;}
@media (min-width: 768px) {
.col-sm-15 {width: 20%;float: left;padding: 10px;}
}
@media (min-width: 992px) {
.col-md-15 {width: 20%;float: left;}
}
@media (min-width: 1200px) {
.col-lg-15 {width: 20%;float: left;}
}


.study_abroard_class{}
@media(max-width:767px){
	.pc-only{display:none;}
	.mobile-only{display:block;}
	.hamburger.is-closed {margin-left: 82.5%;margin-top: 104px;}
	.hamburger.is-open {margin-left: 21.25%;margin-top: 101px;}
}
	
/* Responsive */

@media (min-width: 1200px) {
.col-lg-15 {width: 20%;float: left;}
}

@media(max-width:1024px){
.my_nav .nav > li > a {padding: 10px 22px;}
}

@media(max-width:980px){
.my_nav .nav > li > a {padding: 10px 19px;}
.col-md-15 {width: 20%;float: left;}
}

@media(max-width:800px){
.my_nav .nav > li > a {padding: 10px 8px;}
}

@media(max-width:767px){
.top-nav-menu li{display: inline-block;}
.navbar-nav {margin: 0;}
.redish-background .tre {width: 100%;}
.redish-background .tre2 p {position: relative;top: 5px;left: 0;}
.redish-background .tre2 {width: 100%;}
#id-groupleft-three img{float: none !important;}
.dfgrkjg {left: 2%;}
.ind-course-table-one,.ind-course-table-two,.ind-course-table-three,.ind-course-table-four {border-radius: 50px 50px 0 0;margin: 0 20px;}
.img-hash-background {background-size: cover;padding-top: 50px;}
.testimonial_colowmn p {padding: 0;}
.f-link-main-two li, .f-link li{display: inline;}
.f-link-main-p i {left: -3px;}
.f-link-main-p{padding-bottom: 20px;}
.color-tool-one,.color-tool-two {width: auto;margin: 16px;padding-bottom: 5px;margin-bottom: 30px;}
.color-tool-one img,.color-tool-two img{margin: auto;margin-top: -23px;padding: 10px 0;}
.we-value img {top: 0;margin: auto;left: 10px;}
.start-info p {top: 0;left: 0;}
.coll-manage,.coll-manage-two {margin-right: 0;}
.img-hash-background .col-sm-6 {padding-left: 20px;}
#view-college {width: 64%;top: 77px;}
.mobile-version{display:block}
.desktop-version{display:none}
.navbar .navbar-brand{display:inline !important	; padding-top:10px; color:#fff; font-size:13px; padding-left:10px;}	
#hmmenu.stickymenu .nb1{display:none}
.navbar-nav{float:none}	
#hmlg.stickylg{ }
.my_nav .nav > li > a {padding: 10px 31px; background:none}
#hmdiv.stickydiv{padding-top:5px; padding-bottom:5px;}
.col-sm-15 {width: 20%;float: left;padding: 10px;}
#single_button {float: none;text-align:center}
.mobile-version #view-college{margin: auto;position: relative;top: -14px;}
.coll-manage .col-xs-6 img{margin: auto;padding-top: 4px;}
.aawfthjrj img {margin: auto;padding-top: 25px;}
.wasfgtj p{margin: auto;text-align: center;padding-top: 15px;}
.wasfgtj a{ margin: auto;left: 30%;top: -13px;}
#course-table-1,#course-table-2{position: relative;top: 11px;margin-bottom: 20px;}
#myCarousel2 {padding-bottom: 23px;}
#myCarousel2 .carousel-indicators {bottom: -8px;}
.we-value .row {padding: 15px 0px;margin: auto;padding-right: 25px;margin-bottom: 30px;}
.dhfg{text-align:center;padding-bottom: 0;}
.main-pad-bottom {padding-bottom: 0;}
#about-us-row-1 {padding-bottom: 10px;}
.ftjfbjftg p {width: auto !important;font-size: 24px;}
.wxqwewvbty {margin: 10px 0;padding: 20px 0;}
.f-link-main-two h3 {display:none}
#myCarousel-mobile .carousel-content {position: absolute;bottom: 22px;left: 46px;z-index: 0;color: white;text-shadow: 0 1px 2px rgba(0,0,0,.6);}
.top-nav-menu .menu-top-menu-container {float: none;}
.top-nav-menu .navbar-nav>li>a {padding: 7px 14px;}
#qaxxdedf{text-align:center}
.azdsyh {left: 38px;}
.top-nav-menu{display:none}
p.tuy767y6h{display:none}
.sggtyhtyhftg{display:none}
.dfgtrhbtrh{padding-bottom: 5px;}
.dfgtrnyujuj{position: fixed;z-index: 100;background: white;}
.hgnrjvbhkjhh{padding-top: 40%;}
#qaxxdedf a{color:aliceblue}
.intro-work img {position: relative;min-width: 100%;margin-left: auto;margin-right: auto;}
.intro-work .ovrly {left: 0px;width: 100%;}
p.buthtbhkehgj{padding: 10px 23px;}
.gdfhdygbhy{line-height: 1;}
p.dfgthytygbyhty{padding: 10px 26px;}
input[type="file"] {padding-left: 0px;border: 0px solid #CCCCCC;}
.hftbldfh p {width: 95%;font-size: 29px;}
.jyblftkasgdye {padding: 45px 28px;}
}

@media(max-width:320px){
#hmlg.stickylg img {width: 53%;}
#hmmenu.stickymenu .navbar .navbar-brand{margin-top:-35px;}
#hmmenu.stickymenu .navbar-default .navbar-toggle{margin-top:-35px;}
}

@media(min-width:1300px) and (max-width:1366px){
	#adsrgtrutyhfg{padding-bottom: 29px;}
}






.bank-detals{background-color:#dcdbdb73; text-align:center; font-size: 22px;margin-bottom: 10px;}
.bd{text-align: center; font-size: 22px; padding-top: 50px;}