:root {
    --color-dark-teal: #014f43;
    --color-orange: #f58220;
    --color-light-teal: #56b3a0;
    --color-dark-orange: #d46b1e;
    --color-light-gray: #f0f0f0;
    --color-black: #000000;
}

/* @import url("https://fonts.googleapis.com/css2?family=bebas+Neues&display=swap");*/

    body {
        min-height: 100vh;
        font-family: Arial, sans-serif;
        background-color: var(--color-light-gray);
        color: var(--color-black);
    }

    .rrow.top_bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        background-color: blue;
        color: white;
        padding: 10px;
        background-color: var(--color-dark-orange);
        color: var(--color-light-gray);
    }

    .contact_info,
    .social_icons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .social_icons a {
        margin-left: 10px;
        color: white;
        text-decoration: none;
    }

    .text_right {
        justify-content: flex-end;
    }

    p.on_responsive-invisible {
        margin: 0;
    }

    /* Header-Section */

    .Container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-dark-teal);
        color: var(--color-light-gray);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .header_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .logo_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo_container img {
        max-width: 100%;
        height: auto;
    }

    .img-gap {
        padding: 10px 0px;
    }

    .text_content {
        margin-top: 10px;
    }

    .Banners {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Banners img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .center-banners img {
        margin-bottom: 0;
    }

    .last-banner img {
        margin-bottom: 0;
    }

    /* Nav-bar styling */

    .navbar {
        background-color: #0b3d39;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    }

    nav ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav li {
        height: 50px;
    }

    nav a {
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        transition: color 0.3s;
    }

    nav a:hover {
        color: var(--color-orange);
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: #56b3a081;
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sidebar {
        background-color: rgba(86, 179, 160, 0.8);
    }

    @supports (backdrop-filter: blur(10px)) {
        .sidebar {
            background-color: rgba(86, 179, 160, 0.4);
            backdrop-filter: blur(10px);
        }
    }

    .sidebar li {
        width: 100%;
    }

    .sidebar a {
        width: 100%;
    }

    /* Banner section containing news and events */

    .carousel-item {
        position: relative;
    }
    .video-overlay {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 2;
        width: 40%; /* Adjust as needed */
    }
    .video-overlay iframe {
        width: 100%;
        height: auto;
    }

    .carousel-inner img {
        width: 100%;
        height: auto;
    }

    .carousel-item iframe {
        width: 100%;
        height: 315px;
        /* You can adjust this height as needed */
    }

    @media (min-width: 768px) {
        .carousel-item iframe {
            height: 500px;
            /* Adjust for larger screens */
        }
    }

    /* news and events section */

    .news-events {
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, #008080, #ffa500);
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 1px 1px 2px black;
    }
    .news-events-container {
        display: flex;
        flex-direction: row;
        background-color: #000000;
        border-radius: 40px;
        width: 60%;
        margin: 30px 0;
        height: 20%;
        overflow: hidden;
        align-items: center;
    }
    .news-item {
        flex: 0 0 auto;
        padding: 20px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    .news-item-inner {
        display: flex;
        white-space: nowrap;
        animation: scroll 40s linear infinite;
    }
    .news-item-inner p {
        display: inline-block;
        margin: 0;
        padding: 0 20px;
    }
    @keyframes scroll {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }
    .star {
        position: absolute;
        width: 2px;
        height: 2px;
        background: white;
        border-radius: 50%;
        opacity: 0.8;
        animation: twinkle 1.5s infinite alternate;
    }

    @keyframes twinkle {
        from {
            opacity: 0.2;
        }

        to {
            opacity: 0.8;
        }
    }



    @keyframes scroll-left {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .news-item{
        float: left;
    }
    .news-item-inner{
        float: right;
    }

    @media (max-width: 768px) {
        .header_logo {
            flex-direction: column;
            align-items: flex-start;
        }

        .logo_container,
        .banners {
            width: 100%;
            margin-bottom: 20px;
        }

        .rrow.top_bar {
            flex-direction: column;
            align-items: flex-start;
        }

        .contact_info {
            margin-bottom: 10px;
        }

        .text_right {
            justify-content: flex-start;
        }

        .img_responsive {
            width: 60px;
        }

        .hideOnMobile {
            display: none;
        }

        .rrow.top_bar {
            display: none;
        }

        .rep-navbar {
            background-color: #005f5680;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }

        .banner-container {
            padding-bottom: 75%;
            /* Adjust aspect ratio for mobile */
        }

        .video-overlay {
            width: 100%;
            height: 40%;
            top: auto;
            bottom: 0;
            display: none;
        }

        .video-wrapper {
            width: 100%;
            height: 100%;
            padding-bottom: 0;
        }
        .news-item{
            font-size: 1.5em;
        }
        .news-item-inner{
            font-size: 0.6em;
        }
    }

    @media (max-width: 480px) {
        .contact_info {
            font-size: 14px;
            justify-content: space-around;
        }

        .social_icons a {
            font-size: 14px;
            margin-left: 5px;
            display: none;
        }

        .fa-map-marker {
            display: none;
        }

        .on_responsive-invisible {
            display: none;
        }

        .header_logo {
            flex-direction: column;
            align-items: flex-start;
        }

        .logo_container,
        .Banners {
            width: 100%;
            margin-bottom: 20px;
        }

        .Banners img {
            margin-bottom: 10px;
        }

        .center_banners img {
            margin-bottom: 10px;
        }

        .last_banner img {
            margin-bottom: 10px;
        }

        .hideOnMobile {
            display: none;
        }

        .rrow.top_bar {
            display: none;
        }

        .rep-navbar {
            position: fixed;
            background-color: #005f5680;
            top: 0;
            left: 0;
            width: 100%;
        }

        .banner-container {
            padding-bottom: 100%;
            /* Square aspect ratio for very small screens */
        }

        .video-overlay {
            height: 35%;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        .rrow.top_bar {
            padding: 15px;
        }

        .contact_info,
        .social_icons a {
            font-size: 16px;
        }

        .header_logo {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .logo_container {
            width: 30%;
        }

        .center_banners {
            width: 40%;
            display: flex;
            justify-content: space-around;
        }

        .center_banners img {
            width: 45%;
            margin-bottom: 0;
        }

        .last_banner {
            width: 30%;
        }

        .img_responsive {
            width: 60px;
        }

        .hideOnMobile {
            display: none;
        }

        .rrow.top_bar {
            display: none;
        }

        .rep-navbar {
            position: fixed;
            background-color: #005f5680;
            top: 0;
            left: 0;
            width: 100%;
        }

        .video-overlay {
            width: 50%;
        }
    }

    @media (min-width: 1025px) {
        .rrow.top_bar {
            padding: 20px;
        }

        .contact_info,
        .social_icons a {
            font-size: 18px;
        }

        .header_logo {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .logo_container {
            width: 25%;
        }

        .center_banners {
            width: 50%;
            display: flex;
            justify-content: space-around;
        }

        .center_banners img {
            width: 50%;
            margin-bottom: 0;
        }

        .last_banner {
            width: 30%;
        }

        .img_responsive {
            width: 100px;
        }

        .fullsize {
            display: none;
        }
    }






    .course-img{
        width: 100%;
    }

    .container-course {
        display: grid;
        grid-template-columns: repeat(5, 1fr);  
        gap: 40px;
        width: 100%;
        padding: 20px;
        padding: 50px 15% 10px 15%;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-image: url('images/library.jpg');
    }

    .course-title{
        width: 20%;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        text-align: center;
        font-size: 25px;
        font-weight:700 ;
        background-color: #007DBE;
        color: white;
        padding: 1%;
        border-radius: 10px 10px 0px 0;
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #e0e0e0;
        border-radius: 10px;
        text-align: center;
        transition: background-color 0.3s;
        cursor: pointer;
    }
    .box:hover {
        background-color: #b30000;
        color: white;
    }
    .box a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }
    @media (max-width: 1200px) {
        .container-course {
            grid-template-columns: repeat(4, 1fr); 
        }
        .course-img{
            width: 100%;
        }
        .container-course{
            padding: 5%;
        }
        
    .course-title{
        width: 100%;
    }
    }
    @media (max-width: 800px) {
        .container-course {
            grid-template-columns: repeat(2, 1fr); 
        }
        .course-img{
            width: 100%;
        }
        .container-course{
            padding: 5%;
        }
        .course-title{
            width: 100%;
        }
    }
    @media (max-width: 500px) {
        .container-course{
            grid-template-columns: 1fr; 
        }
        .course-img{
            width: 100%;
        }
        .container-course{
            padding: 5%;
        }
        .course-title{
            width: 100%;
        }
    }